// /* src/components/RoomSelection.css */
.name-rom a{
  color: black;
}


.form-select{
  background-color: #F2F4F7;
  border-radius: 20px;
}

.rent{
  background-color: #FFFFFF;
  color: black;
  border: none;
  border-radius: 10px;
}

.btn-custom{
  background-color: #25d0d0;
  color: black;
  border: none;
  border-radius: 10px;
}

.btn-custom:hover{
  background-color: #0e4f4f;
  color: white;
}