.section-header {
    display: flex;
    h4{
        font-size: 30px;
        font-weight: 700;
    }

    .overview {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 24px;
    }


    .shipcart {
        min-width: 384px;
        max-width: 25vw;

        .cart_cart {
        border-radius: 32px;
        border: 1px solid  #eaecf0;
        background: #fff;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            

            .ShipDetail{
                padding: 20px 24px;
                border-bottom: 1px solid  #eaecf0;
            }

            .shipDetail{
                padding: 20px 24px;

                .md{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    


}