.manage-image {
    border: 2px solid grey;
    border-radius: 25px;
    box-shadow: 0px 1px 6px 1px;
}

.view-feedback {
    border: 2px solid grey;
    border-radius: 25px;
    box-shadow: 0px 1px 6px 1px;
}

.room {
    border: 2px solid grey;
    border-radius: 25px;
}

button {
    height: fit-content;
}