server:
  port: 8080


spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/demoversion2"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
logging:
  level:
    org:
      springframework:
        security: debug
        web: debug

jwt:
  privateKey: WoOXNLcTzDlQqjp2JzMNJ7+fi7UQ3O8FAselbtKQSgM=