.body-page {
    background-image: url('https://mixivivu.com/section-background.png');

    * {
        font-family: Archivo, sans-serif;
        box-sizing: border-box;
    }

    .form-search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .Search-Cart {
        border-radius: 10px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 20px;
        width: 100%;
        max-width: 600px;
    }

    .header-form {
        h4 {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            font-weight: bold;
        }

        p {
            display: flex;
            text-align: center;
            color: #6a6767;
        }
    }

    // .header-form h4{
    //     display: flex;
    //     justify-content: center;
    //     margin-bottom: 10px;
    //     font-weight: bold;
    // }

    .body-form .input-group {
        margin-bottom: 15px;
    }

    .body-form input,
    .body-form select {
        border-radius: 5px;
    }

    .buton {
        display: flex;
        justify-content: center;

    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .button-wrapper button {
        border-radius: 20px;
        border: none;
        height: 50px;
        width: 300px;
        background-color: rgb(104, 204, 199);
        color: rgb(60, 57, 57);
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .button-wrapper button:hover {
        background-color: rgb(90, 185, 180);
    }


    .content-1,
    .content-2 {
        padding: 20px;
        margin-bottom: 30px;
    }

    .content-1 {
        h4 {
            font-weight: bold;
            font-size: 35px;
        }

        label {
            color: #4e4b4b;
            font-size: 18px;
            padding: 35px 0;
        }

        button {
            border-radius: 25px;
            border: none;
            height: 50px;
            width: 200px;
            background-color: rgb(104, 204, 199);
            color: rgb(40, 38, 38);
            font-size: 15px;
            margin-top: 35px;
            // cursor: pointer;
            // transition: background-color 0.3s ease-in-out;
            // button:hover {
            //     background-color: rgb(90, 185, 180);
            // }
        }


    }

    .business {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;

        .content-detail {
            padding: 0 20px;

            h6 {
                font-weight: bold;
                font-size: 20px;
            }

            p {
                color: #6a6767;
            }
        }
    }

    .business-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-bottom: 20px;
    }

    .business img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }



}


/* custom.css */
.card-img-top {
    height: 150px;
    object-fit: contain;
    background-color: #f8f8f8;
  }
  